.hero {
	height: 100vh;
	min-height: 700px;
	max-height: 900px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	overflow: hidden;
}
.hero h1 {
	font-size: 50px;
	font-weight: 800;
	margin-bottom: 20px;
}
.hero p {
	font-weight: 500;
	font-size: 18px;
	color: var(--grey);
	line-height: 1.65em;
}
.hero button {
	margin-top: 40px;
}

.hero img {
	max-width: unset;
	width: 800px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: -1;
}

@media (max-width: 700px) {
	.hero h1 {
		font-size: 40px;
		font-weight: 700;
	}
	.hero img {
		width: 420px;
		left: 0;
		right: unset;
	}
}
@media (max-width: 600px) {
	.hero h1 {
		font-size: 30px;
	}
	.hero p {
		font-size: 16px;
	}
}
@media (min-width: 700px) {
	.hero > * {
		max-width: 500px;
	}
}
